<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

  <h1>first vue world</h1>

  <a href="https://jp.vuejs.org/v2/guide/">https://jp.vuejs.org/v2/guide/</a>

  <p>お客様　扱い</p>
  <div id="userDisp">
    <ol>
      <li v-for="customer in customers">
            {{ customer.name }}, {{ customer.age }}
      </li>
    </ol>
  </div>

  <div id="userDisp2">
    35才以下
      <ol>
        <li v-for="youth in youths">
              {{ youth.name }}, {{ youth.age }}
        </li>
      </ol>
    </div>
  <table id="app">
      <tr v-for="infom in info">
        <td>{{ infom.ID }}</td>
      </tr>
  </table>

  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <div id="app-3">
    <span v-if="seen">みせる</span>
    <span v-if="out">あああ</span>
    <span v-if="seen">Now you see me3</span>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <p>{{ members }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>


  <div id="app-7">
    <ol>
      <!-- 
        各 todo-item の内容を表す todo オブジェクトを与えます。
        これにより内容は動的に変化します。
        また後述する "key" を各コンポーネントに提供する必要があります。
      -->
      <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
  </div>
</body>

<script src="main.js"></script>

</html>